# WordPress Core
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment and IDE
.env
.vscode/
.idea/

# Plugins/Themes development
node_modules/
dist/
