# Ignore everything in the root
/*

# Allow .gitignore and wp-content folder
!/.gitignore
!/wp-content/

# Specific ignores inside wp-content
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# Common ignores
*.log
*.zip
.DS_Store
Thumbs.db
.env
.vscode/
.idea/
node_modules/
dist/
